@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Radio+Canada:wght@300&display=swap');

/*ID's*/
#content {
    max-width: 1600px;
    margin: 0 auto;
}
#background {
    background-color: #94C5CC;
    height: 725px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
#background {
    background-color: #F8F8F8;
}
#hero-img {
    width: 100%;
}
#logo-link {
    padding-top: 5px;
}



/*Class*/
.book, .join {
    background-color:#F8F8F8 ;
    color: #041f1b;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}
.book:hover, .join:hover {
    background-color: #A1A6B4;
    color: #041f1b;
}
.msg {
    background-color: #F8F8F8;
    line-height: 1.5em;
    padding: 35px;
}
.button-box {
text-align: center;
}
.home-title {
    color: #041f1b;
    font-size: 2em;
    margin-top: 10px;
}
.msg h2 {
    color: #041f1b;
}
.msg p {
    color: #041f1b;
    font-size: .8em;
    padding-bottom: 15px;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

/*Element*/
main section {
    text-align: center;
}
body {
    background-color: #94C5CC;
    font-family: ;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #B4D2E7;
}
nav a{
    text-align: center;
    color: #041f1b;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color:#A1A6B4 ;
    color: #041f1b;
}
footer{
    background-color: #B4D2E7;
    padding: 25px 50px;
    margin-top: 200px;
}
footer h3 {
    color: #041f1b;
    text-decoration: underline;
}
footer a {
    color: #041f1b;
    text-decoration: none;
}
footer a:hover {
    color: #041f1b;
}
h4 {
    color: #041f1b;
}
h2  {
    margin: 0;
}
footer h3 a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
--primary-color: #94C5CC   ;
--secondary-color: #B4D2E7 ;
--accent1-color: #F8F8F8;
--accent2-color: #A1A6B4;